.author-info {
    display: flex;
    align-items: center;

    .author-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #eee;
    }

    .author-info-right {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      flex: 1 1 auto;

      .author-name {
        font-size: 24px;
        color: #1b1b19;
      }
      .create-at {
        font-size: 20px;
        color: #999;
      }
    }
  }
