.user-top-bg{
    background: #80bd01;
    height: 100px;
}

.user-avatar{
    display: block;
    width: 180px;
    height: 180px;
    margin: -90px auto 0;
    border-radius: 50%;
}

.username{
    font-size: 36px;
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
    color: #2e3135;
}
.user-github{
    font-size: 24px;
    text-align: center;
    color: #999;
}

.user-data{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .user-data-item{
        text-align: center;
        margin: 0 20px;

        .data-number{
            font-size: 34px;
            color: #2e3135;
            font-weight: bold;
        }

        .data-title{
            font-size: 22px;
            color: #999;
        }
    }
}

.user-bottom{
    height: 100vh;
    display: flex;
    margin-top: 20px;
    flex-direction: column;

    .user-top-tab{
        flex: 0 0 auto;

        .top-tab-border{
            width: 33.3%;
        }
    }
    .user-list-wrap{
        flex: 1 1 auto;
        scroll-view{
            height: 100%;
        }
    }
}
