var utils = {
  throttle: function (fn, interval) {
    var enterTime = 0;//触发的时间
    var gapTime = interval || 10;//间隔时间，如果interval不传，则默认300ms
    return function () {
      var backTime = getDate();//第一次函数return即触发的时间
      if (backTime - enterTime > gapTime) {
        fn(arguments);
        enterTime = backTime;//赋值给第一次触发的时间，这样就保存了第二次触发的时间
      }
    };
  }
}
module.exports = utils;
