.topic-item {
  margin: 10px 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;

  .topic-header {
    display: flex;
    align-items: center;

    .topic-author-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #eee;
    }

    .topic-header-info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      flex: 1 1 auto;

      .topic-author-name {
        font-size: 24px;
        color: #1b1b19;
      }
      .topic-create-at {
        font-size: 20px;
        color: #999;
      }
    }

    topic-tag{
      margin-left: 10px;
    }
  }

  .topic-title {
    color: #2e3135;
    font-size: 32px;
    line-height: 48px;
    margin-top: 10px;
  }

  .topic-content {
    font-size: 24px;
    line-height: 36px;
    color: #999;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .topic-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 36px;

    .topic-footer-right {
      font-size: 22px;
      color: #999;
      text {
        padding: 0 5px;
        line-height: 36px;
      }
    }
  }
}
