/**app.wxss**/
page{
    font-family: "STHeitiSC-Light", "Microsoft YaHei Light",  "Hiragino Sans GB", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
}

.top-tab{
    display: flex;
    font-size: 28px;
    position: relative;

    .top-tab-item {
        flex: 1 1 auto;
        text-align: center;
        line-height: 80px;
        color: #444;
        transition: color .5s;

        &.cur {
            color: #80bd01;
        }
    }
    .top-tab-border{
      position: absolute;
      height: 5px;
      left: 0;
      bottom: 0;
      background: #80bd01;
    }
}
